@use '../utils/vars';

.button__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    background-color: vars.$white-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.close__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-right: 8px;
    
}

.modal__close {
    width: 30px;
    height: 30px;
    background-color: vars.$white-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 7px 7px;
    color: vars.$logo-color;
    transition: color vars.$time vars.$time-function;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}