@use '../utils/vars';

%section-titles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: vars.$black-color;
    margin-bottom: 50px;
}

.whatwedo__section--title {
    @extend %section-titles;

    @media screen and (min-width: 375px) {
        dipslay: none;
    }
    @media screen and (max-width: 1199px) {
        display: none;
}
}

.ourteam__section--title {
    @extend %section-titles;
    
    @media screen and (min-width: 375px) {
        font-size: 28px;
    }
}

.costumer__section--title {
    @extend %section-titles;

    @media screen and (min-width: 375px) {
        font-size: 28px;
    }
}

    