@use '../utils/vars';

.features__section {
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.features__list {
    display: flex;


    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.features__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0px;
    }

    // @media screen and (max-width: 767px) {
    //     &:not(:last-child) {
    //         margin-bottom: 30px;
    //         margin-right: 0;
    //     }
    // }
    @media screen and (min-width: 768px) {
        width: 350px;

        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:nth-child(3n) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }        
    }
}

.features__section--descript {
    margin-top: 9px;
}

.features__section--subtitles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: vars.$black-color;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features__section--descript {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: vars.$gray-font-color;
}

.features__icon--item {
    background-color: vars.$light-background-color;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    // padding: 25px 102px;
    display: flex;
    align-items: center;
    justify-content: center;
}
