@use '../utils/vars';

.features__list {
    display: flex;

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 7680px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.features__item {
    max-width: 450px;
    margin-bottom: 30px;

    &:not(:last-child) {
        margin-right: 30px;
    }

    @media screen and (max-width: 480px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }
}

.features__section--descript {
    margin-top: 9px;
}

.features__section--subtitles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: vars.$black-color;

    @media screen and (max-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.features__section--descript {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: vars.$gray-font-color;
}

.features__icon--list {
    display: flex;
}

.features__icon--item {
    background-color: vars.$light-background-color;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 102px;
    display: flex;
    align-items: center;
    justify-content: center;
}

