@use '../utils/vars';

.findus__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: vars.$white-font-color;
    margin-bottom: 20px;

    @media screen and (min-width: 375px) and (max-width: 1199px) {
        & {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 48px;
        }
    }

    @media screen and (max-width: 768px) {
        &{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.findus__icons {
    display: flex;
    flex-direction: column;
    

    @media screen and (min-width: 375px) {
        & { 
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        
    }
}

.findus__icon--list {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 375px) and (max-width: 1199px) {
        & {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 768px) {
        &{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.findus__icon--item:not(:last-child) {
    margin-right: 10px;
}