@use '../utils/vars';

.subscribe__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: vars.$footer-font-color;

    @media screen and (min-width: 375px) and (max-width: 1199px) {
        & {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (max-width: 768px) {
        &{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.subscribe__form {
    

    @media screen and (min-width: 320px) and (max-width: 767px) {
        & {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        & {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.subscribe__input {
    height: 50px;
    width: 358px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.6);
    background-color: vars.$dark-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;

    &:focus {
        outline: none;
    }

    @media screen and (min-width: 320px) and (max-width: 374px) {
        & {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            width: 250px;
            margin-left: 10px;
        }
    }

    @media screen and (min-width: 375px) and (max-width: 1199px) {
        & {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            width: 375px;
        }
    }

    // @media screen and (max-width: 768px) {
    //     &{
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         margin-bottom: 20px;
    //     }
    // }
}

.subscribe__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);  
    width: 200px;
    height: 50px;
    color: vars.$footer-font-color;
    background-color: vars.$logo-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: color vars.$time vars.$time-function, 
    background-color vars.$time vars.$time-function;

    &:hover,
    &:focus {
        color: vars.$logo-color;
        background-color: vars.$white-background-color;
    }
}

.subscribe__icon {
    fill: currentColor;
}